<section>
  <h1 class="text-center" style="font-family: 'New Rocker', cursive;font-size: 250%;font-weight: 500;">Today Slot</h1>

  <div class="row-12 fontText" >
    <!--<div class="col-md-12">-->
    <div class="col-md-12 text-center">

      <div >
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle value="bold" (click)="filterDay('Monday')">MONDAY</mat-button-toggle>
          <mat-button-toggle value="bold" (click)="filterDay('Tuesday')">TUESDAY</mat-button-toggle>
          <mat-button-toggle value="bold" (click)="filterDay('Wednesday')">WEDNESDAY</mat-button-toggle>
          <mat-button-toggle value="bold" (click)="filterDay('Thursday')">THURSDAY</mat-button-toggle>
          <mat-button-toggle value="bold" (click)="filterDay('Friday')">FRIDAY</mat-button-toggle>
          <mat-button-toggle value="bold" (click)="filterDay('Saturday')">SATURDAY</mat-button-toggle>
          <mat-button-toggle value="bold" (click)="filterDay('Sunday')">SUNDAY</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
      <!--<div class="row-md-6 ">-->
          <div class="col-md-3 mt-3" >
          <form [formGroup]="search" >
            <!--<div class="text-right h-100">-->
            <mat-form-field class="w-100">
              <input matInput placeholder="Search..." formControlName="searchName" (input)="updateFilter(search.value)" >
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          <!--</div>-->
          </form>
          </div>
      <!--</div>-->
    <!--</div>-->
  </div>


  <!--<div class="flex-p">-->
   <!---->
  <!--</div>-->

  <div class="row w-100 ">
    <div class="col-md-12">
      <div fxLayout="column" style="margin-left: 3%">
        <div class="flex-p">
          <ngx-datatable
            #table
            class="material"
            [headerHeight]="50"
            [limit]="10"
            [columnMode]="'force'"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [rows]="rows"
            [count]="total"
            [selected]="selected"
            [selectionType]="'checkbox'">
            <ngx-datatable-column name="POSITION">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                {{row.position}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="NAME">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                {{row.name}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="TEACHER">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                {{row.teacher}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="CLASS">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                {{row.class}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="DAY">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                {{row.day}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="TIME SLOT">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                {{row.timeslot}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="ACTION">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                <a href="">View</a>
             </ng-template>
            </ngx-datatable-column>
            <!--<ngx-datatable-column name="Action">-->
              <!--<ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">-->
                <!--<i class="material-icons mr-2"  (click)="edit(row)" style="cursor: pointer; color: #0288d1; font-size: 27px;" >-->
                  <!--edit-->
                <!--</i>-->
                <!--<i class="material-icons" (click)="delete(row)" style="cursor: pointer; color: #FF0000; font-size: 27px;" >-->
                  <!--delete-->
                <!--</i>-->
              <!--</ng-template>-->
            <!--</ngx-datatable-column>-->
          </ngx-datatable>

        </div>
      </div>
    </div>
  </div>


</section>


