<h1 class="text-center">Today Slot</h1>
<section>
  <div class="flex-p">
    <form [formGroup]="search" >
    <div class="row w-100">
      <div class="col-md-12">
        <div class="text-right h-100">
          <mat-form-field class="w-25">
            <input matInput placeholder="Search..." formControlName="searchName" (input)="updateFilter(search.value)" >
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>
    </div>
    </form>
  </div>

  <div class="row w-100 ">
    <div class="col-md-12">
      <div fxLayout="column">
        <div class="flex-p">
          <ngx-datatable  class="table table-hover"
            #table
            class="material"
            [headerHeight]="50"
            [limit]="10"
            [columnMode]="'force'"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [rows]="rows"
            [count]="total"
            [selected]="selected"
            [selectionType]="'checkbox'">
            <ngx-datatable-column name="position">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                {{row.position}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="name">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                {{row.name}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="teacher">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                {{row.teacher}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="class">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                {{row.class}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="day">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                {{row.day}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="timeslot">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                {{row.timeslot}}
              </ng-template>
            </ngx-datatable-column>
            <!--<ngx-datatable-column name="Action">-->
              <!--<ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">-->
                <!--<i class="material-icons mr-2"  (click)="edit(row)" style="cursor: pointer; color: #0288d1; font-size: 27px;" >-->
                  <!--edit-->
                <!--</i>-->
                <!--<i class="material-icons" (click)="delete(row)" style="cursor: pointer; color: #FF0000; font-size: 27px;" >-->
                  <!--delete-->
                <!--</i>-->
              <!--</ng-template>-->
            <!--</ngx-datatable-column>-->
          </ngx-datatable>

        </div>
      </div>
    </div>
  </div>


</section>


