.bg-success {
  background-color: #28b779!important;
}
.flex-p{
  padding: 35px !important;
  //$flex-distance: 8px;
}
.ngx-datatable .datatable-footer .datatable-pager {
  letter-spacing: 15px !important;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
.fontText {
  margin-left: 5%;
  font-size: 15px;
}
@media only screen
and (min-width: 360px) and (max-width: 767px) {
  .fontText {
    margin-left: 5%;
    font-size: 4px;
  }
}

