.bg-success {
  background-color: #28b779!important;
}
.flex-p{
  padding: 35px !important;
  //$flex-distance: 8px;
}
.ngx-datatable .datatable-footer .datatable-pager {
  letter-spacing: 15px !important;
}
