.imageBox{
  height: 100px;
  width: 100px;
  margin-left: 50px;
}
.cancelPoint{
  cursor: pointer;
  margin-left: 197px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px !important;
  margin-left: 0px !important;
}
