<!-- ======= Header ======= -->
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/Home"><span>Little</span>Artist</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation" style="color: darkblue !important;">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active text-center">
          <a class="nav-link" routerLink="/Home">Home</a>
        </li>
        <li class="nav-item text-center submenu dropdown" >
          <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Report</a>
          <ul class="dropdown-menu ">
            <li class="nav-item text-center">
              <a class="nav-link" routerLink="/Multi-Student-Report">MultiStudent Report</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link" routerLink="/Teacher-Report">Teacher Report</a>
            </li>
          </ul>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" routerLink="/Searches">Search Student</a>
        </li>
        <li class="nav-item text-center submenu dropdown" >
          <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Student List</a>
          <ul class="dropdown-menu ">
            <li class="nav-item text-center">
              <a class="nav-link" routerLink="/Student-Master">Student Master</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link" routerLink="/Upload-Student">Upload Student</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link" routerLink="/Today-Slot">Today Slot</a>
            </li>
          </ul>
        </li>

        <li class="nav-item text-center submenu dropdown" >
          <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
          <ul class="dropdown-menu ">
            <li class="nav-item text-center">
              <a class="nav-link" routerLink="/Generate-Certificate">Generate Certificate</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link" routerLink="/Message">Message</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link" routerLink="/Gallery">Gallery</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link" routerLink="/Query-Tracker">Query Tracker</a>
            </li>
          </ul>
        </li>
        <li class="nav-item text-center submenu dropdown" >
          <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
          <ul class="dropdown-menu ">
            <li class="nav-item text-center">
              <a class="nav-link" routerLink="/Login">Logout</a>
              <!--<a class="nav-link" routerLink="/Login">Logout</a>-->
            </li>
            <li class="nav-item text-center">
              <a class="nav-link" routerLink="/Password-Creation">Teacher Password Create</a>
            </li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--------------routing....---------->
<section style="max-width: 100%">
  <router-outlet></router-outlet>
</section>
