//.container{
//  width: 85%;
//  margin-left: 15%;
//}
//.nav-side-menu {
//  overflow: auto;
//  font-family: verdana;
//  font-size: 12px;
//  font-weight: 200;
//  background-color: #2e353d;
//  position: fixed;
//  top: 0px;
//  width: 15%;
//  height: 100%;
//  color: #e1ffff;
//}
//.nav-side-menu .brand {
//  background-color: #23282e;
//  line-height: 50px;
//  display: block;
//  text-align: center;
//  font-size: 14px;
//}
//.nav-side-menu .toggle-btn {
//  display: none;
//}
//.nav-side-menu ul,
//.nav-side-menu li {
//  list-style: none;
//  padding: 0px;
//  margin: 0px;
//  line-height: 35px;
//  cursor: pointer;
//
//}
//.nav-side-menu ul :not(collapsed) .arrow:before,
//.nav-side-menu li :not(collapsed) .arrow:before {
//  font-family: FontAwesome;
//  content: "\f078";
//  display: inline-block;
//  padding-left: 10px;
//  padding-right: 10px;
//  vertical-align: middle;
//  float: right;
//}
//.nav-side-menu ul .active,
//.nav-side-menu li .active {
//  border-left: 3px solid #d19b3d;
//  background-color: #4f5b69;
//}
//.nav-side-menu ul .sub-menu li.active,
//.nav-side-menu li .sub-menu li.active {
//  color: #d19b3d;
//}
//.nav-side-menu ul .sub-menu li.active a,
//.nav-side-menu li .sub-menu li.active a {
//  color: #d19b3d;
//}
//.nav-side-menu ul .sub-menu li,
//.nav-side-menu li .sub-menu li {
//  background-color: #181c20;
//  border: none;
//  line-height: 28px;
//  border-bottom: 1px solid #23282e;
//  margin-left: 0px;
//}
//.nav-side-menu ul .sub-menu li:hover,
//.nav-side-menu li .sub-menu li:hover {
//  background-color: #020203;
//}
//.nav-side-menu ul .sub-menu li:before,
//.nav-side-menu li .sub-menu li:before {
//  font-family: FontAwesome;
//  content: "\f105";
//  display: inline-block;
//  padding-left: 10px;
//  padding-right: 10px;
//  vertical-align: middle;
//}
//.nav-side-menu li {
//  padding-left: 0px;
//  border-left: 3px solid #2e353d;
//  border-bottom: 1px solid #23282e;
//}
//.nav-side-menu li a {
//  text-decoration: none;
//  //color: #e1ffff;
//  color: white;
//  font-size: 16px;
//  font-weight: 600;
//}
//.nav-side-menu li a i {
//  padding-left: 10px;
//  width: 20px;
//  padding-right: 20px;
//}
//.nav-side-menu li:hover {
//  border-left: 3px solid #d19b3d;
//  background-color: #4f5b69;
//  -webkit-transition: all 1s ease;
//  -moz-transition: all 1s ease;
//  -o-transition: all 1s ease;
//  -ms-transition: all 1s ease;
//  transition: all 1s ease;
//}
//
/////mobile view
//@media only screen
//and (min-width: 360px) and (max-width: 767px)  {
//  .container{
//    width: 80%;
//    margin-left: 0px;
//  }
//  .nav-side-menu {
//    position: relative;
//    width: 100%;
//    height: auto;
//    margin-bottom: 10px;
//  }
//  .nav-side-menu .toggle-btn {
//    display: block;
//    cursor: pointer;
//    position: absolute;
//    right: 10px;
//    top: 10px;
//    z-index: 10 !important;
//    padding: 3px;
//    background-color: #ffffff;
//    color: #000;
//    width: 40px;
//    text-align: center;
//  }
//  .brand {
//    text-align: left !important;
//    font-size: 22px;
//    padding-left: 20px;
//    line-height: 50px !important;
//  }
//}
//
/////ipad...
//
//@media only screen
//and (min-width: 767px) and (max-width: 1024px){
//  /* For general iPad layouts */
//  .container{
//    width: 100%;
//    margin-left: 0px;
//  }
//  .nav-side-menu {
//    position: relative;
//    width: 100%;
//    height: auto;
//    margin-bottom: 10px;
//  }
//  .nav-side-menu .toggle-btn {
//    display: block;
//    cursor: pointer;
//    position: absolute;
//    right: 10px;
//    top: 10px;
//    z-index: 10 !important;
//    padding: 3px;
//    background-color: #ffffff;
//    color: #000;
//    width: 40px;
//    text-align: center;
//  }
//  .brand {
//    text-align: left !important;
//    font-size: 22px;
//    padding-left: 20px;
//    line-height: 50px !important;
//  }
//}
//
////@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
////  /* For portrait layouts only */
////  .nav-side-menu .menu-list .menu-content {
////    display: block;
////  }
////}
////
////@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
////  /* For landscape layouts only */
////  .nav-side-menu .menu-list .menu-content {
////    display: block;
////  }
////}
////
////
///* ----------- iPad Pro ----------- */
///* Portrait and Landscape */
//@media only screen
//and (min-width: 1024px) and (max-width: 1366px)
//and (max-height: 1366px)
//and (-webkit-min-device-pixel-ratio: 2) {
//
//  .container{
//    width: 100%;
//    margin-left: 0px;
//  }
//  .nav-side-menu {
//    position: relative;
//    width: 100%;
//    height: auto;
//    margin-bottom: 10px;
//  }
//  .nav-side-menu .toggle-btn {
//    display: block;
//    cursor: pointer;
//    position: absolute;
//    right: 10px;
//    top: 10px;
//    z-index: 10 !important;
//    padding: 3px;
//    background-color: #ffffff;
//    color: #000;
//    width: 40px;
//    text-align: center;
//  }
//  .brand {
//    text-align: left !important;
//    font-size: 22px;
//    padding-left: 20px;
//    line-height: 50px !important;
//  }
//}
//
///* Portrait */
//@media only screen
//and (min-width: 1025px) and (max-width: 1366px)
//and (max-height: 1366px)
//and (orientation: portrait)
//and (-webkit-min-device-pixel-ratio: 2) {
//  .container{
//    width: 100%;
//    margin-left: 0px;
//  }
//  .nav-side-menu {
//    position: relative;
//    width: 100%;
//    margin-bottom: 10px;
//  }
//  .nav-side-menu .toggle-btn {
//    display: block;
//    cursor: pointer;
//    position: absolute;
//    right: 10px;
//    top: 10px;
//    z-index: 10 !important;
//    padding: 3px;
//    background-color: #ffffff;
//    color: #000;
//    width: 40px;
//    text-align: center;
//  }
//  .brand {
//    text-align: left !important;
//    font-size: 22px;
//    padding-left: 20px;
//    line-height: 50px !important;
//  }
//}
//
///* Landscape */
//@media only screen
//and (min-width: 1026px) and (max-width: 1366px)
//and (max-height: 1366px)
//and (orientation: landscape)
//and (-webkit-min-device-pixel-ratio: 2) {
//  .container{
//    width: 100%;
//    margin-left: 0px;
//  }
//  .nav-side-menu {
//    position: relative;
//    width: 100%;
//    margin-bottom: 10px;
//  }
//  .nav-side-menu .toggle-btn {
//    display: block;
//    cursor: pointer;
//    position: absolute;
//    right: 10px;
//    top: 10px;
//    z-index: 10 !important;
//    padding: 3px;
//    background-color: #ffffff;
//    color: #000;
//    width: 40px;
//    text-align: center;
//  }
//  .brand {
//    text-align: left !important;
//    font-size: 22px;
//    padding-left: 20px;
//    line-height: 50px !important;
//  }
//
//}
//
////Desktops and laptops
//
//@media only screen
//and (min-width: 1200px){
//  .nav-side-menu .menu-list .menu-content {
//    display: block;
//  }
//}
//body {
//  margin: 0px;
//  padding: 0px;
//}

//............bootstrap............?/////

.navbar {
  display: none; }
@media (max-width: 991.98px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid, .navbar-expand-lg > .container-sm, .navbar-expand-lg > .container-md, .navbar-expand-lg > .container-lg, .navbar-expand-lg > .container-xl {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 992px) {
  .navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .navbar-expand-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute; }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid, .navbar-expand-lg > .container-sm, .navbar-expand-lg > .container-md, .navbar-expand-lg > .container-lg, .navbar-expand-lg > .container-xl {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .navbar-expand-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }
  .navbar-expand-lg .navbar-toggler {
    display: none; } }

@media (max-width: 1199.98px) {
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid, .navbar-expand-xl > .container-sm, .navbar-expand-xl > .container-md, .navbar-expand-xl > .container-lg, .navbar-expand-xl > .container-xl {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .navbar-expand-xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .navbar-expand-xl .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .navbar-expand-xl .navbar-nav .dropdown-menu {
    position: absolute; }
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid, .navbar-expand-xl > .container-sm, .navbar-expand-xl > .container-md, .navbar-expand-xl > .container-lg, .navbar-expand-xl > .container-xl {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .navbar-expand-xl .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }
  .navbar-expand-xl .navbar-toggler {
    display: none; } }

.navbar-expand {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
.navbar-expand > .container,
.navbar-expand > .container-fluid, .navbar-expand > .container-sm, .navbar-expand > .container-md, .navbar-expand > .container-lg, .navbar-expand > .container-xl {
  padding-right: 0;
  padding-left: 0; }
.navbar-expand .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute; }
.navbar-expand .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }
.navbar-expand > .container,
.navbar-expand > .container-fluid, .navbar-expand > .container-sm, .navbar-expand > .container-md, .navbar-expand > .container-lg, .navbar-expand > .container-xl {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
.navbar-expand .navbar-collapse {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto; }
.navbar-expand .navbar-toggler {
  display: none; }

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9); }
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: rgba(0, 0, 0, 0.9); }

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5); }
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(0, 0, 0, 0.7); }
.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3); }

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9); }

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1); }

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.navbar-light .navbar-text {
  color: rgba(0, 0, 0, 0.5); }
.navbar-light .navbar-text a {
  color: rgba(0, 0, 0, 0.9); }
.navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus {
  color: rgba(0, 0, 0, 0.9); }

.navbar-dark .navbar-brand {
  color: orange !important;
  font-family: 'Shrikhand', cursive;
  font-size: xx-large;
}
.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: orange !important; }

.navbar-dark .navbar-nav .nav-link {
  color: white !important;
  font-family: 'Shrikhand', cursive;
  font-size: large;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: green !important;
  font-family: 'Shrikhand', cursive;
  font-size: large;
}
.navbar-dark .navbar-nav .nav-link.disabled {
  color: pink !important; }

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #fff; }

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1); }

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.navbar-dark .navbar-text {
  color: rgba(255, 255, 255, 0.5); }
.navbar-dark .navbar-text a {
  color: #fff; }
.navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
  color: #fff; }

.navbar-dark {
  .navbar-brand {
    color: black;


  }




}
.bg-dark {
  background-color: #343a40 !important; }

a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #1d2124 !important; }
.ftco-navbar-light {
  background: transparent !important;
  position: absolute;
  top: -8px;
  left: 0;
  right: 0;
  z-index: 3; }
@media (max-width: 991.98px) {
  .ftco-navbar-light {
    background: whitesmoke !important;
    //color: white !important;
    position: relative;
    top: 0;
    padding-top: 0;
    padding-bottom: 0; } }
.ftco-navbar-light .container {
  width: 1110px;
  margin: 0 auto;
  padding: 0; }
.ftco-navbar-light .navbar-brand {
  color: #fff;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }
@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-brand {
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: transparent;
    padding-left: 0;
    padding-right: 0; } }
.ftco-navbar-light .navbar-nav {
  margin-right: 1em; }
@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav {
    padding-bottom: 20px;
    margin-right: 0; } }
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
  font-size: 18px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 20px;
  padding-right: 20px;
  //color: #fff;
  color: black !important;
  font-weight: 500;
  opacity: 1 !important; }
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover, .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:focus {
  color: #fff; }
@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
    color: #fff; } }
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
  border: none;
  background: #212529;;
  -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41); }
.ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {
  position: relative;
  margin-left: 20px;
  padding-left: 20px; }
@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {
    padding-left: 0;
    margin-left: 0; } }
.ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
  position: absolute;
  content: "";
  top: 10px;
  bottom: 10px;
  left: 0;
  width: 2px;
  background: rgba(255, 255, 255, 0.05); }
@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
    display: none; } }
.ftco-navbar-light .navbar-nav > .nav-item.cta > a {
  color: #fff;
  border: 1px solid #4986fc;
  padding-top: .8rem;
  padding-bottom: .8rem;
  padding-left: 18px;
  padding-right: 18px;
  background: #4986fc;
  margin-top: .5rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }
.ftco-navbar-light .navbar-nav > .nav-item.cta > a span {
  display: inline-block;
  color: #fff; }
.ftco-navbar-light .navbar-nav > .nav-item.cta > a:hover {
  background: #4986fc;
  border: 1px solid #4986fc; }
.ftco-navbar-light .navbar-nav > .nav-item.cta.cta-colored a {
  border: 1px solid #e449ad;
  background: #e449ad !important; }
.ftco-navbar-light .navbar-nav > .nav-item.active > a {
  color: #4986fc; }
@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #4986fc; } }
.ftco-navbar-light .navbar-toggler {
  border: none;
  color: rgba(255, 255, 255, 0.5) ;
  cursor: pointer;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .1em; }
.ftco-navbar-light .navbar-toggler:hover, .ftco-navbar-light .navbar-toggler:focus {
  text-decoration: none;
  color: #4986fc;
  outline: none !important; }
.ftco-navbar-light.scrolled {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-top: -130px;
  background: #fff !important;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 0; }
@media (max-width: 991.98px) {
  .ftco-navbar-light.scrolled .nav-item > .nav-link {
    padding-left: 20px !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important; } }
.ftco-navbar-light.scrolled .nav-item.active > a {
  color: #4986fc !important; }
.ftco-navbar-light.scrolled .nav-item.cta > a {
  color: #fff !important;
  background: #4986fc;
  border: none !important;
  padding-top: 0.5rem !important;
  padding-bottom: .5rem !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-top: 6px !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
.ftco-navbar-light.scrolled .nav-item.cta > a span {
  display: inline-block;
  color: #fff !important; }
.ftco-navbar-light.scrolled .nav-item.cta.cta-colored span {
  border-color: #4986fc; }
@media (max-width: 991.98px) {
  .ftco-navbar-light.scrolled .navbar-nav {
    background: none;
    border-radius: 0px;
    margin-left: 0 !important; } }
.ftco-navbar-light.scrolled .navbar-toggler {
  border: none;
  color: rgba(0, 0, 0, 0.5) !important;
  border-color: rgba(0, 0, 0, 0.5) !important;
  cursor: pointer;
  margin-right: 15px !important;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .1em; }
.ftco-navbar-light.scrolled .nav-link {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  color: #000000 !important; }
.ftco-navbar-light.scrolled .nav-link.active {
  color: #4986fc !important; }
.ftco-navbar-light.scrolled.awake {
  margin-top: 0px;
  -webkit-transition: .3s all ease-out;
  -o-transition: .3s all ease-out;
  transition: .3s all ease-out; }
.ftco-navbar-light.scrolled.sleep {
  -webkit-transition: .3s all ease-out;
  -o-transition: .3s all ease-out;
  transition: .3s all ease-out; }
.ftco-navbar-light.scrolled .navbar-brand {
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 20px; }
@media (max-width: 991.98px) {
  .ftco-navbar-light.scrolled .navbar-brand {
    color: #000000; } }

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem; }
.navbar .container,
.navbar .container-fluid, .navbar .container-sm, .navbar .container-md, .navbar .container-lg, .navbar .container-xl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap; }
.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none; }

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0; }
.navbar-nav .dropdown-menu {
  position: static;
  float: none; }

.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem; }
.navbar-toggler:hover, .navbar-toggler:focus {
  text-decoration: none; }

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%; }

@media (max-width: 575.98px) {
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid, .navbar-expand-sm > .container-sm, .navbar-expand-sm > .container-md, .navbar-expand-sm > .container-lg, .navbar-expand-sm > .container-xl {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 576px) {
  .navbar-expand-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .navbar-expand-sm .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute; }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid, .navbar-expand-sm > .container-sm, .navbar-expand-sm > .container-md, .navbar-expand-sm > .container-lg, .navbar-expand-sm > .container-xl {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .navbar-expand-sm .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }
  .navbar-expand-sm .navbar-toggler {
    display: none; } }

@media (max-width: 767.98px) {
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid, .navbar-expand-md > .container-sm, .navbar-expand-md > .container-md, .navbar-expand-md > .container-lg, .navbar-expand-md > .container-xl {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 768px) {
  .navbar-expand-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .navbar-expand-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute; }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid, .navbar-expand-md > .container-sm, .navbar-expand-md > .container-md, .navbar-expand-md > .container-lg, .navbar-expand-md > .container-xl {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .navbar-expand-md .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }
  .navbar-expand-md .navbar-toggler {
    display: none; } }

.nav-fill {
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

.nav-justified {
  .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}
.icon-bar{
  background-color: #efb73c !important;
}
