<section>
  <div class="row w-100">
    <div class="col-md-6">
      <img src="assets/images/createlogin.png" alt="sign out" style="width: 100%;height: 520px;;padding: 20px;">
    </div>
    <div class="col-md-6">
      <form [formGroup]="password">
        <div class="row ">
          <div class="col-md-12 box-card pt-3">
            <h1 class="color-blue text-center">TEACHER SIGN UP FORM</h1>
            <div class="row pl-5 pr-5 mt-5">
        <div class="col-md-12">
          <mat-form-field class="w-100">
            <input matInput placeholder="Name" formControlName="name" (keypress)="nameValidate($event)" autocomplete="off" required >
            <mat-error *ngIf="password.controls.name.errors?.required">Teacher Name is required</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field class="w-100">
            <input matInput placeholder="Mobile No" formControlName="mobile" minlength="10"  maxlength="10" (keypress)="numberValidate($event)" autocomplete="off" required>
            <mat-error *ngIf="password.controls.mobile.errors?.required">Mobile No is required</mat-error>
            <mat-error *ngIf="password.controls.mobile.hasError('pattern')">Enter Valid  Mobile No</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 ">
          <mat-form-field class="w-100 len">
            <label>Email ID</label>
            <input matInput    formControlName="emailId"  autocomplete="off" required>
            <mat-error *ngIf="password.controls.emailId.errors?.required">Email ID is required</mat-error>
            <mat-error *ngIf="password.controls.emailId.hasError('pattern')">Please Enter Correct Format</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field class="w-100 len">
            <label>Password</label>
            <input matInput  formControlName="password"  autocomplete="off" required minlength="6"  >
            <mat-error *ngIf="password.controls.password.errors?.required">Password is required</mat-error>
            <mat-error *ngIf="password.controls.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field class="w-100 len">
            <label>Confirm Password</label>
            <input matInput  formControlName="confirmpasswd"  autocomplete="off" required minlength="6" >
            <mat-error *ngIf="password.controls.confirmpasswd.errors?.required">Confirm Password is required</mat-error>
            <mat-error *ngIf="password.controls.confirmpasswd.hasError('minlength')">Confirm Password isn't long enough, minimum of 6 characters</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-12 text-center mt-3 ml-0">
          <button mat-raised-button color="primary"  (click)="sign(password.value)" >Sign Up</button>

        </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
