<section>
  <h1 class="text-center" style="font-family: 'New Rocker', cursive;font-size: 250%;font-weight: 500;">Edit Master Student</h1>
  <div class="row-12 w-100" >
    <div class="col-md-12 text-center">

      <div >


        <i class="fas fa-camera" ><input type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput" accept=".png, .jpg, .jpeg, .pdf, .docx" (change)="onFileSelected($event)"></i>

      </div>
    </div>
    <!--<div class="row-md-6 ">-->
    <!--<div class="col-md-3 mt-3" >-->
      <div class="row mt-1 w-100 pl-5">
        <div class="col-md-12 box-card pt-3 pb-3" >
          <form [formGroup]="studentArray">
            <div formArrayName="items" *ngFor="let item of studentArray.get('items')['controls']; let i = index;">

              <div class="row w-100" [formGroupName]="i">
                <div class="col-md-4" >
                  <mat-form-field class="w-100">
                    <input matInput placeholder="ID" formControlName="id"   autocomplete="off"  required>
                  </mat-form-field>
                </div>
                <div class="col-md-4" >
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Student Name" formControlName="student"   autocomplete="off"  required>
                  </mat-form-field>
                </div>
                <div class="col-md-4" >
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Teacher Name" formControlName="teacher"   autocomplete="off"  required>
                  </mat-form-field>
                </div>
                <div class="col-md-4" >
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Class" formControlName="class"  autocomplete="off"  required>
                  </mat-form-field>
                </div>
                <div class="col-md-4" >
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Day" formControlName="day"  autocomplete="off"  required>
                  </mat-form-field>
                </div>
                <div class="col-md-4" >
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Time Slot" formControlName="time"   autocomplete="off"  required>
                  </mat-form-field>
                </div>
                <div class="col-md-4 pl-4" >
                  <div class="snapshot" *ngIf="webcamImage">
                    <h2>Photo</h2>
                    <div id="target">You can drag an image file here</div>
                    <!--<img [src]="webcamImage.imageAsDataUrl" class="imgData" />-->
                  </div>
                </div>

                <div class="proposal-buttom mt-3 text-right w-100" *ngIf="items.length -1 == i">
                  <!--<button mat-button matStepperPrevious  (click)="topScroll()">Back</button>-->
                  <button mat-raised-button color="primary"  (click)="studentEdit( i, studentArray.value)" >Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--<form [formGroup]="search" >-->
        <!--<div class="text-right h-100">-->

        <!--</div>-->
      <!--</form>-->
    </div>
    <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</section>



<!--<div>-->


<!--</div>-->


