.button {
  color: white;
  background-color: blue;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 2px;
}

ul.links {
  padding-bottom: 10px;
}
.imgData{
  height:50px;
  width:50px;
  border-radius: 45px;
  margin-left: -18px
}


//////...../////


//body {
//  background-color: #F0F0F0;
//}
//#app {
//  text-align: center;
//  color: #2c3e50;
//  margin-top: 60px;
//}
#video {
  background-color: #000000;
}
#canvas {
  display: none;
}
li {
  display: inline;
  padding: 5px;
}
