
  Select Product :
  <select  [(ngModel)]="ProductHeader.name" (ngModelChange)="SearchProduct(ProductHeader.name)">
    <option *ngFor="let prod of ProductHeader">{{prod.name}} </option>
  </select>



  <div *ngIf="ProductHeader.name">
    <h5>You have selected: {{ProductHeader.name}} Product </h5>
  </div>
  <div class="table-responsive mat-card">
  <table class="table" >
    <thead>

    <tr >
      <th>Name</th> <th>Store</th>  <th>Price</th> <th>Model</th>
    </tr>    </thead>
<tbody>
    <tr  *ngFor="let Prod of ProductDetails" class="table-info">
      <td>{{Prod.title}}</td>
      <td>{{Prod.store}}</td>
      <td>{{Prod.price}}</td>
      <td>{{Prod.model}}</td>
    </tr>
</tbody>
  </table>
</div>
