<section>
  <div class="item w-100">
    <img src="assets/images/img5.jpg" alt="Nature Painting" style=" width: 100%;height: 100vh">
  </div>
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="about_content">
          <img src="assets/images/image0.jpg" alt="" class="about_img" />
          <h1 class="sp-title animate__animated animate__backInDown animate__delay-3s mt-3 " style="font-size: 35px;font-weight: 900;font-family: 'Merienda', cursive; color: black;">STUDENT ART MANAGEMENT SYSTEM</h1>
          <p class=" animate__animated animate__zoomInLeft animate__delay-1s mt-5" style="font-family: 'Courgette', cursive;font-size: 15px;font-weight: 500;" >This is an on-line digital system and can be used to capture the images of Student Artwork done as part of their course work at Little Artists</p>
          <p style="font-family: 'Courgette', cursive;font-size: 15px;font-weight: 500" >The captured images are archived directly in the digital archival system - It is a php / file atabase storage and retrieval system..</p>
          <p class="animate__animated animate__zoomInRight animate__delay-2s" style="font-family: 'Courgette', cursive;font-size: 15px;font-weight: 500" >You can use php / file database storage and retrieval system to perform action on the images capture</p>
        </div>
      </div>
    </div>
  </div>
</section>
