section{
  background-image: linear-gradient(90deg,#d500f9,#ffd54f);
}
.about_content > h1,.yoga > h3 {
  color: #6a6a6a;
}
.about_content {
  background: #fff none repeat scroll 0 0;
  margin-top: -100px;
  padding: 35px;
  width:900px;
}
.about_img {
  margin-top: -135px;
  width: 610px;
  margin-bottom: 28px;
}


/* media query for other devices */
@media (min-width: 768px) {

}

@media (min-width: 1400px) {
  .carousel .item > img {
    height: 770px;
  }

  .about_content {
    margin-top: -130px;
  }
  .about_img {
    margin-top: -165px;
    margin-bottom: 50px;
  }

}

@media (min-width: 1230px) {
  .container{width: 1200px;}

}

@media (max-width: 1229px) {
  .container{width: 970px;}
  h1 {
    font-size: 80px;
  }

  .about_content {
    width: auto;
    margin-top: -55px;
  }
  .about_img {
    width: 100%;
    margin-top: -90px;
    margin-bottom: 45px;
  }

}

@media (max-width: 991px) {
  .container{width: 750px;}

}


@media (max-width: 767px) {
  .container{width: 100%;}
  h1 {
    font-size: 70px;
  }
  h1 {
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 15px;
  }

}

@media (max-width: 479px) {


  .about_content {
    margin-top: -50px;
    padding: 20px;
  }
  .about_content > h1 {
    text-align: center;
  }
  .about_img {
    margin-bottom: 25px;
    margin-top: -70px;
  }

}

