<section class="intro-section ">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 intro-text mb-5 mt-5 mb-lg-0">
        <h1 class="sp-title animate__animated animate__backInDown animate__delay-3s" style="font-size: 30px;font-weight: 700;font-family: 'Merienda', cursive;">STUDENT ART MANAGEMENT SYSTEM</h1>
<div class="mt-5 pl-3 pr-3">
        <p class=" animate__animated animate__zoomInLeft animate__delay-1s " style="font-family: 'Courgette', cursive;font-size: 15px;font-weight: 500;" >This is an on-line digital system and can be used to capture the images of Student Artwork done as part of their course work at Little Artists</p>
        <p style="font-family: 'Courgette', cursive;font-size: 15px;font-weight: 500" >The captured images are archived directly in the digital archival system - It is a php / file atabase storage and retrieval system..</p>
        <p class="animate__animated animate__zoomInRight animate__delay-2s" style="font-family: 'Courgette', cursive;font-size: 15px;font-weight: 500" >You can use php / file database storage and retrieval system to perform action on the images capture</p>
</div>
      </div>
      <div class="col-lg-5 pt-4">
        <img src="assets/images/img1.jpg" alt="" style="width: 100%">
      </div>
    </div>
  </div>
</section>
